.calendar {
  position: relative;
}

.calendar__table {
  width: 100%;
  height: calc(100vh - 128px);
}

.calendar__table td {
  padding: 10px;
  border: 1px solid #ccc;
  vertical-align: top;
  width: 14.29%;
  height: 20%;
}

.calendar__table--6weeks td {
  height: 16.66%;
}

.calendar__weekday {
  font-weight: bold;
  color: #000;
  font-size: 1.2em;
}

.calendar__day {
  font-size: 1.3em;
}

.calendar__othermonth .calendar__day {
  opacity: 0.3;
}

.calendar__button {
  display: block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  background-color: black;
  border-radius: 50%;

  box-shadow: 0 6px 10px 0 #0000001a, 0 1px 18px 0 #0000001a, 0 3px 5px -1px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  text-decoration: none;
  transition: transform 0.3s;
}

.calendar__button:hover {
  transform: scale(1.2);
  text-decoration: none;
  color: #fff;
}

.account {
  color: white;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.1em,
    rgb(241, 241, 241) 0px 0.05em 0.02em;
}



/*Responsive*/

@media (max-width: 575.98px) {
    .calendar__table {
        font-size: 80%;
    }
}

/* BUTTON */

.pulse {
  border: 2px solid #ff3c3c;
  background-color: #000000;
  border-radius: 20px;
  color: #fff;
  transition: 0.3s;
}
.pulse:hover {
  box-shadow: 8px 8px #4e544d;
  transition: 0.3s;
}

.ap {
  text-decoration: none;
  color: white;
}


/* LOGOUT */


.logout {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px ;
}

.logout:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100%);
    height: calc(100%);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.logout:active {
    color: #212529;
}

.logout:active:after {
    background: transparent;
}

.logout:hover:before {
    opacity: 1;
}

.logout:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #212529;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}